<!-- Page Content -->
<div class="container">

    <div class="row">

        <div class="col-md-3">
            <p class="lead">ようこそ！</p>
            <div class="list-group">
                <% categories = category %>
                <% categories.each do |category| %>
                    <%= link_to category.name, search_by_category_path(:category => category.id), :class => "list-group-item" %>
                <% end %>
            </div>
        </div>

        <div class="col-md-9">
        <% if get_slides.present? %>
            <%= render 'slide' %>
        <% end %>
            <div class="row">
                <% @products.each do |product| %>
                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <% if !product.picture.url(:thumb).nil? %>
                                <%= image_tag product.picture.url(:thumb) %>
                            <% else %>
                            <h3>hehehe</h3>
                                <img src="http://placehold.it/300x300" alt="">
                            <% end %>
                            <div class="caption">
                                <h4 class="pull-right"><%= product.price %></h4>
                                <h4><%= product.name %>
                                </h4>
                                <p><%= product.detail %></p>
                            </div>
                            <div class="ratings">
                            <%= link_to '詳細', product, :class => "btn btn-default", :target => "_blank" %>
                                <p class="pull-right">15 reviews</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                </p>
                            
                            </div>

                        </div>
                    </div>
                <% end %>
            </div>

<%= will_paginate @products %>
        </div>

    </div>

</div>
<!-- /.container -->

<div class="container">

    <hr>

    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Your Website 2014</p>
            </div>
        </div>
    </footer>

</div>
<!-- /.container -->

